@model HomeViewModel

@{
    ViewData["Title"] = "Kezdőlap";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center display-3">Poseidon</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 border-right">
            <div class="row">
                <h1 class="col-xs-8">Félév tárgyai</h1>
                <div class="dropdown">
                    <div class="col-xs-4 pull-right text-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Félév kiválasztása
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="1"><a asp-action="Index" asp-route-id="1">1. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="2"><a asp-action="Index" asp-route-id="2">2. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="3"><a asp-action="Index" asp-route-id="3">3. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="4"><a asp-action="Index" asp-route-id="4">4. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="5"><a asp-action="Index" asp-route-id="5">5. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="6"><a asp-action="Index" asp-route-id="6">6. félév</a></li>
                            <li is-active-route asp-controller="Home" asp-action="Index" asp-route-id="7"><a asp-action="Index" asp-route-id="7">7. félév</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class= "col-xs-12 table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tárgynév</th>
                            <th>Kredit</th>
                            <th>Aláírás</th>
                            <th>Érdemjegy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SubjectWithGrade != null)
                        {
                            @foreach (var i in Model.SubjectWithGrade)
                            {
                                <tr>
                                    <td>@i.Subject.Name</td>
                                    <td>@i.Subject.Credit</td>
                                    <td>@i.Grade.Signature</td>
                                    <td>@i.Grade.ReceivedGrade</td>
                                    <td class="text-center"><a onclick="getPartialView(@i.Subject.Id,&quot;@Html.Raw(Url.Action("Modify", "Home", new { }))&quot;)" class="btn btn-sm btn-success">Módosítás</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <h1>Diagrammok</h1>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Módosítás</h2>
                </div>
                <div id="SubjectModify">
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Submit(&quot;@Html.Raw(Url.Action("Modify", "Home", new { }))&quot;)">Módosítás</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Delete(&quot;@Html.Raw(Url.Action("Delete", "Home", new { }))&quot;)">Törlés</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home-index.js" type="text/javascript" language="javascript"></script>
}