@model ModifySubjectViewModel
@{
    ViewData["Title"] = "Modify";
}

<div style="padding: 10px">
    <h2>Tárgynév: @Model.SubjectWithGrade.Subject.Name</h2>
    <h3>Tárgykód: @Model.SubjectWithGrade.Subject.Code</h3>
    <p>Kredit: @Model.SubjectWithGrade.Subject.Credit</p>
    <p>Tárgyfelelős: @Model.SubjectWithGrade.Subject.ResponsibleProfessor</p>
    <p>Ajánlott félév: @Model.SubjectWithGrade.Subject.RecommendedSemester</p>
    <p>Teljesítés féléve: @Model.SubjectWithGrade.Grade.EnrollmentSemester</p>
    <p class="hidden" id="id">@Model.SubjectWithGrade.Subject.Id</p>
    <p class="hidden" id="studentId">@Model.SubjectWithGrade.Grade.StudentID</p>
    <p class="hidden" id="semester">@Model.SubjectWithGrade.Grade.EnrollmentSemester</p>

</div>
<div class="modal-footer">
    <div class="centered form-inline form-group" id="markForm">
        <label>Aláírás: <input asp-for="SubjectWithGrade.Grade.Signature" id="sign" type="checkbox"></label>
        <label>Érdemjegy: <input asp-for="SubjectWithGrade.Grade.ReceivedGrade" id="mark" type="number" class="form-control"></label>
    </div>
</div>

<script src="~/js/home-modify.js" type="text/javascript" language="javascript"></script>
