@model RegisterForSubjectsViewModel

@using Interfaces;
@{
    ViewData["Title"] = "Tárgyfelvétel";
    
}
<div>
    <h2>@ViewData["Title"]</h2>
    <div class="col-lg-4 col-md-4  col-sm-4  "></div>
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 stylish-input-group centered">
        <input id="searchedSubjectName" onkeyup="searchSubjects()" type="text" class="form-control" placeholder="Tárgynév/Tárgykód">
        <div class="btn btn-primary btn-lg">Keresés</div>
    </div><div class="col-lg-4 col-md-4  col-sm-4  "></div>
    <br />
        <table id="subjectTable" class="table">
            <thead>
                <tr>
                    <th>Tárgynév</th>
                    <th>Kredit</th>
                    <th>Ajánlott félév</th>
                    <th>Tárgykód</th>
                    <th>Tárgyfelelős</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Subjects)
                 {
                            <tr>
                                <td>@i.Name</td>
                                <td>@i.Credit</td>
                                <td>@i.RecommendedSemester</td>
                                <td>@i.Code</td>
                                <td>@i.ResponsibleProfessor</td>
                                <td><button>Felvétel</button></td>
                            </tr>
                }
            </tbody>
        </table>
</div>