@model RegisterForSubjectsViewModel

@using Interfaces;
@{
    ViewData["Title"] = "Tárgyfelvétel";
    
}
<div class="row">
        <div class="col-md-2 h1 text-left">@ViewData["Title"]</div>
</div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="subjectTable" class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Tárgynév</th>
                        <th>Kredit</th>
                        <th>Ajánlott félév</th>
                        <th>Tárgykód</th>
                        <th>Tárgyfelelős</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Subjects)
                    {
                        <tr>
                            <td>@i.Name</td>
                            <td>@i.Credit</td>
                            <td>@i.RecommendedSemester</td>
                            <td>@i.Code</td>
                            <td>@i.ResponsibleProfessor</td>
                            <td class="text-center"><a asp-action="Register" asp-controller="Subjects" asp-route-id="@i.Id" class="btn btn-sm btn-success">Felvétel</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>