@model SubjectViewModel
@{
    ViewData["Title"] = "Modify";
}

<p id="id" hidden>@Model.subject.Id</p>
<div style="padding: 10px">
    <h2>Tárgynév: @Model.subject.Name</h2>
    <h3>Tárgykód: @Model.subject.Code</h3>
    <p>Kredit: @Model.subject.Credit</p>
    <p>Tárgyfelelős: @Model.subject.ResponsibleProfessor</p>
    <p>Ajánlott félév: @Model.subject.RecommendedSemester</p>

</div>
<div class="modal-footer">
    <div class="centered form-inline form-group" id="markForm">
        <label>Aláírás: <input id="sign" checked type="checkbox"> Érdemjegy: <input id="mark" type="number" value="1" class="form-control"></label>

    </div>
</div>

@section Scripts{
    <script src="~/js/Home_Modify.js" type="text/javascript" language="javascript"></script>
}