@model SubjectViewModel
@{
    ViewData["Title"] = "Register";
}

<p id="id" hidden>@Model.subject.Id</p>
<div style="padding: 10px">
    <dl class="dl-horizontal">
        <dt>Tárgynév:</dt>
        <dd>@Model.subject.Name</dd>
        <dt>Tárgykód:</dt>
        <dd>@Model.subject.Code</dd>
        <dt>Kredit:</dt>
        <dd>@Model.subject.Credit</dd>
        <dt>Tárgyfelelős:</dt>
        <dd>@Model.subject.ResponsibleProfessor</dd>
        <dt>Ajánlott félév:</dt>
        <dd>@Model.subject.RecommendedSemester</dd>
    </dl>
    
    <div class="container-fluid">
        <div class="form-inline form-group text-center" id="markForm">
            <div class="col-xs-4">
                <label>Aláírás: <input id="sign" type="checkbox"></label>
            </div>
            <div class="col-xs-4">
                <label>Érdemjegy: <input min="1" max="5" id="mark" type="number" class="form-control"></label>
            </div>
            <div class="col-xs-4">
                <label>Félév: <input min="1" max="12" id="semester" type="number" class="form-control"></label>
            </div>
        </div>
    </div>
</div>


