@model SubjectViewModel
@{
    ViewData["Title"] = "Register";
}

<p id="id" hidden>@Model.subject.Id</p>
<div style="padding: 10px">
    <h2>Tárgynév: @Model.subject.Name</h2>
    <h3>Tárgykód: @Model.subject.Code</h3>
    <p>Kredit: @Model.subject.Credit</p>
    <p>Tárgyfelelős: @Model.subject.ResponsibleProfessor</p>
    <p>Ajánlott félév: @Model.subject.RecommendedSemester</p>

    <div class="modal-footer">
        <div class="centered form-inline form-group" id="markForm">
            <label>Aláírás: <input id="sign" type="checkbox"></label>
            <label>Érdemjegy: <input id="mark" type="number" class="form-control"></label>
            <label>Félév: <input id="semester" type="number" class="form-control"></label>
        </div>
    </div>
</div>


